body {
  background-color: #114B5F
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #60712F;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #EACDC2;
}

.active {
  background-color: #114B5F;
}
h1 {
  margin-top: 100px;
  font-family: archer, arial;
  color: #EACDC2
}
p {
  font-family: archer, arial;
  color: #EACDC2
}
h1 {
  margin-top: 100px;
  font-family: archer, arial;
  color: #EACDC2;
}
h2 {
  color: #60712F;
}
p {
  font-family: archer, arial;
  color: #EACDC2;
}
table, th, td {
  background-color: #114B5F;
  border: 1px solid #456990;
  border-collapse: collapse;
  color: #EACDC2;
  font-family: univers, arial;
}
th, td {
  padding: 10px;
}
th {
  text-align: centre;
}
